@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #272323;
  font-weight: 300;
}

/*
* MAIN LAYOUT 
*/
.front-page {
  min-height: 100vh;
  background: url(../websites/background.jpg) no-repeat;
  background-size: 100vw 100vh;
}

.about, .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}

.portfolio {
  background: url(../websites/projects.jpg) no-repeat;
  background-size: 100vw 150vh;
  /*
  * SUB LAYOUT OF .portfolio
  */
}

.portfolio__show-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em 0;
}

.portfolio__show-projects--show-projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d4c5c5;
  background-color: #292525;
}

/*
* SUB LAYOUT
*/
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 2.5em 0;
  /*
  * SUB LAYOUT OF .description
  */
}

.description__ability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  margin: 0 1em;
  padding: 2em 0;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  padding-bottom: 4em;
  /*
  * SUB LAYOUT OF .SHOWCASE
  */
}

.showcase__who-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 0 3em;
}

.showcase__skills {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0 3em;
}

/*
* Button of .front-page
*/
.view-work {
  color: #928f8f;
  font-size: 1.5rem;
  font-weight: 600;
  padding: .5em 1em;
  margin: 1.5em;
  outline: none;
  position: relative;
  top: 22em;
  left: 8em;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.view-work:hover {
  background-color: #db6a00;
  color: #0e193a;
}

.view-work:hover i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about__title, .portfolio__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 5px solid;
}

/*
* Grandchild of .about
*/
.description__ability__container {
  width: 100px;
  height: 80px;
  background-color: #db6a00;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.description__ability__container i {
  font-size: 2.5rem;
  color: #0e193a;
}

.description__ability__p {
  text-align: center;
}

.showcase__who-me__image {
  width: 300px;
  height: 300px;
  margin: 1em 0;
}

.showcase__who-me__ {
  text-align: center;
}

.showcase__skills i {
  font-size: 5rem;
  -webkit-box-shadow: 0px -1px 5px 11px #f4f4f7;
          box-shadow: 0px -1px 5px 11px #f4f4f7;
  text-align: center;
}

.showcase__skills i:nth-child(1) {
  color: #e34c26;
}

.showcase__skills i:nth-child(2) {
  color: #264de4;
}

.showcase__skills i:nth-child(3) {
  color: #cc6699;
}

.showcase__skills i:nth-child(4) {
  color: #563d7c;
}

.showcase__skills i:nth-child(5) {
  color: #c9b742;
}

.showcase__skills i:nth-child(6) {
  color: #d6c365;
}

.showcase__skills i:nth-child(7) {
  color: #61DBFB;
}

.portfolio__title {
  color: white;
}

.portfolio__show-projects a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio__show-projects a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio__show-projects img {
  margin: 2em;
  width: 400px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(54, 49, 49, 0.418);
          box-shadow: 10px 10px 5px 0px rgba(54, 49, 49, 0.418);
}

.portfolio__show-projects img:hover {
  -webkit-box-shadow: 10px 10px 5px 0px #db6a00;
          box-shadow: 10px 10px 5px 0px #db6a00;
}

.footer__contact a {
  color: #dbcbcb;
  font-size: 2rem;
  margin: .5em .2em;
}

.footer__contact a:hover {
  color: white;
}
/*# sourceMappingURL=style.css.map */