$white: #272323;
$gray: #f5f5f5;	
$light-blue: #88a7fa;	
$dark-blue: #2e4482;	
$black: #0e193a;	
$font-yellow: #FFE81F;


$transition: all .3s ease;

$polygon: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);